
.post{
    /* display: flex; */
    background-color: white;
    padding: 15px;
    margin-bottom:10px;
    border-radius: 10px;
}

.post_header{
    display: flex;
    margin-bottom: 10px;

}

.post_info{
    margin-left: 10px;
}

.post_info>p{
    overflow-wrap: anywhere;
}

.post_info>h2{
    font-size: 15px;
}
.post_button{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}